extends ./layout.pug
block vars
	- var title = 'Главная';

block content
	section.sec1
		.container
			.block 
				.text-block
					img(src="assets/upload/woman.png", alt="")
					.t1 Бесплатный вебинар
					.t2 ПРОФЕССИЯ <br/> КОСМЕТОЛОГ
					.t3 Приглашаем на бесплатный вебинар <br/> для профессиональных косметологов <br/> и интересующихся этой профессией
					.t4.df
						button.btn.btn-green  Зарегистрироваться
						button.btn.btn-transparent Узнать подробнее
				
