@import "vars"
@import "_mixins/media"


.sec1
    background: #ECFFEB

   
    .block
        position: relative
        padding: 65px 0 138px
        z-index: 1

    .t1
        margin-bottom: 5px
        font-weight: 600
        font-size: 20px
        letter-spacing: 0.0625rem
        color: #424242


    .t2
        margin-bottom: 20px
        font-weight: 700
        font-size: 65px
        line-height: 65px
        letter-spacing: 0.2rem
        color: #55A630


    .t3
        margin-bottom: 59px
        font-weight: 500
        font-size: 20px
        line-height: 1.37rem
        letter-spacing: 0.1rem
        color: #424242


    .t4

        .btn
            height: 66px
            width: 285px
            font-weight: 600
            font-size: 18px
            letter-spacing: 1px
            border: none
            background: transparent

            &.btn-green 
                background: #55A630
                color: #fff
                margin-right: 20px

            &.btn-transparent
                
                color: #55A630
                border: 1px solid #55A630


    img
        position: absolute
        bottom: 6px
        right: -26px
        z-index: -1
